.sccontainer2{
    background-color:rgb(255, 255, 255);
    width: 288px;
    height:450px;
    margin: 20px auto;
    border-radius:0px 0px 10px 10px ;
    margin-bottom: -50px;
    border: 3px solid black;
    border-radius:10px 10px 10px 10px ;
}
.sccontainer{
    background-color:black;
    width: 285px;
    height: 40px;
    border: 3px solid black;
    border-radius:0px 0px 10px 10px ;
    margin-top: 350px;
}
.icon1{
   margin-bottom: 400px;
   margin-left: 15px;
}
.icon2{
  margin-top: -433px;
  margin-left: 70px;
}
.icon3{
  margin-top: -33px;
  margin-left: 130px;
}
.buttonicon{
  margin-top: -35px;
  margin-left: 190px;
}
.icon5{
  margin-top: -35px;
  margin-left: 240px;
}
.sidebar{
  width: 25px;
  height: 200px;
  background-color:transparent;
  margin-top: -435px;
  margin-left: 255px;
  border-radius: 10px;
  border: 2px solid black;
}
.littlecam{
  width: 25px;
  height: 25px;
  background-color:transparent;
  margin-top: 5px;
  margin-left: 255px;
  border-radius:60px 60px 60px 60px ;
  border: 2px solid black;
}
img{
  width: 30px;
  height: 30px;
  border-radius:60px 60px 60px 60px ;
}
.button2{
  margin-left: 215px;
  margin-top: -29px;
}
.button1{
  margin-top: 19px;
  margin-left:50px ;
}